head{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 20vh;
}

body{
    margin: 0;
    padding: 0;
    height: 80vh;
    font-family: "Poppins";
    font-size: 14px;
}

#cabecera{
    background-color: rgb(255, 255, 255);
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#inicio{
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url(./Imagenes/anexo-salon-fonte-web.jpg);
    background-size: cover;
    height: 36em;
    position: relative;
}

.menu_superior{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}

#iconos{
    display: flex;
    gap:1.4em;
    padding-right: 3%;
}

.buscador{
    height: 4%;
    align-items: left;
}

.menu{
    font-size: small;
    display: flex;
    justify-content: space-evenly;
}

#reserva{
    position: absolute;
    top:0;
    margin-top: 5%;
    padding: 0.5%;
    background-color: white;
    display: flex;
    justify-content:space-evenly;
    width: 90em;
    justify-items: center;
    align-items:center ;
}

.codigo{
    background-color:  rgba(60, 79, 109, 0.103);
    padding: 0.4em;
    color: rgb(60, 79, 109);
    font-size: small;
}

#apartados{
    display: inline-block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease;
}

#apartados:hover{
    border-bottom: 2px solid #3586bc;
    color:#3586bc;
}

.reserva_texto{
    color:#3586bc;
}

#presentacion{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-bottom:1em;

}

.titulo{
    font-size: large;
    font-weight: 600;
    color: rgb(60, 79, 109);
    text-align: center;
    padding-top: 3%;
    font-family: "Garamound";
    font-size: 30px;
}

.texto{
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
#bloque1{
    padding-top: 3em;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap:15em;
}

#foto1{
    background-image: url(./Imagenes/habitacion_hotel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30em;
    width: 45em;
}

#info1{
    padding-top: 5em;
    width: 30em;
}

#titulo{
    font-size: large;
    font-weight: 600;
    color: rgb(60, 79, 109);
    text-align: left;
    padding-top: 5%;
    font-family: "Garamound";
    font-size: 25px;
    padding-bottom: 0.5em;
}

#subtitulo{
    color: rgb(60, 79, 109);
    padding-bottom: 1em;
    font-weight: 400;
}

#texto{
    padding-bottom: 0.5em;
}

#enlace{
    color: rgb(22, 78, 151);
}

#bloque2{
    padding-top: 3em;
    display: flex;
    flex-direction:row-reverse;
    flex-wrap: wrap;
    gap:15em;
}

#foto2{
    background-image: url(./Imagenes/boda-a-quinta-da-agua-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30em;
    width: 45em;
}

#info2{
    padding-top: 5em;
    width: 30em;
}

#presentacion_historia{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 5em;
}

#bloque5{
    padding-top: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo5{
    font-size: large;
    font-weight: 600;
    color: rgb(60, 79, 109);
    text-align: left;
    font-family: "Garamound";
    font-size: 25px;
    padding-bottom: 0.5em;
    justify-content: center;
    text-align: center;
}

.subtitulo5{
    color: rgb(60, 79, 109);
    padding-bottom: 0.5em;
    font-weight: 400;
}

#subloque1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:2em;
    padding-top: 2em;
    padding-bottom: 2em;
    
}

.foto1_bloque5{
    background-image:url(./Imagenes/spa-privado-a-quinta-da-auga_1.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30em;
    width: 20em;
    background-position: center;
    transition: 0.3s;
}

.foto1_bloque5:hover{
    filter: opacity(1);
}

.foto2_bloque5{
    background-image:url(./Imagenes/mesas-jardines-aquintadaauga-2.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 35em;
    width: 30em;
    background-position: center;
}

.foto3_bloque5{
    background-image: url(./Imagenes/803b49ddc2ba8c0ffeeaec24c7d5cf78.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30em;
    width: 20em;
    background-position: center;
}

#footer{
    background-color:  rgba(60, 79, 109, 0.103);
    height: 20em;
    display: flex;
    flex-direction: column;
}

#footer_superior{
    height: 17em;
    display: flex;
    flex-direction: row;
}

#footer_inferior{
    background-color:  rgb(255, 255, 255);
    height: 3em;
}